<%- include('partials/header') %>

<div class="container">
    <h1>Manage Food</h1>
    <% if (errors) { %>
        <% errors.forEach(function(err) { %>
            <div class="alert alert-danger">
                <li><%= err.msg %></li>
            </div>
        <% }) %>
    <% } %>
    <div class="container" style="border: 1px solid blue;">
        <form action="/manageFood" method="POST">
            <div class="form-row">
                <div class="form-row">
                    <label for="foodname">Name</label>
                    <select class="custom-select col" id="foodname" name="foodname">
                        <option selected value="">Choose...</option>
                        <% if (allFoodNames) { %>
                            <% allFoodNames.forEach(function(f) { %>
                                <option value=<%= f.foodName %>><%= f.foodName %></option>
                            <% }) %>
                        <% } %>
                    </select>
                    <label for="sortby">Sort by</label>
                    <select class="custom-select col" id="sortby" name="sortby">
                        <option selected value="">Sort by...</option>
                        <option value="name">Food Name</option>
                        <option value="menuCount">Menu Count</option>
                        <option value="purchaseCount">Purchase Count</option>
                    </select>
                    <label for="order">Order</label>
                    <select class="custom-select col" id="order" name="order">
                        <option selected value="">Order...</option>
                        <option value="ASC">Ascending</option>
                        <option value="DESC">Descending</option>
                    </select>
                    <button type="submit" class="btn btn-primary" name="submitBtn" value="filter">Filter</button>
                </div>

                <table style="width: 100%">
                    <tr>
                        <th>Name</th>
                        <th>Menu Count</th>
                        <th>Purchase Count</th>
                    </tr>
                    <% if (foods) { %>
                        <% foods.forEach(function(food) { %>
                            <tr>
                                <td><input type="radio" name="foodRadioBtn" value="<%= food.foodName %>"><%= food.foodName %></td>
                                <td><%= food.menuCount %></td>
                                <td><%= food.purchaseCount %></td>
                            </tr>
                        <% }) %>
                    <% } %>
                    </tr>
                </table>
            </div>

            <button type="submit" class="btn btn-primary" name="submitBtn" value="delete">Delete</button>
            <a href="/createFood" class="btn btn-primary">Create</a>
        </form>
    </div>

    <a href="/home" class="btn btn-primary" role="button">Home</a>
    <a href="/logout" class="btn btn-primary" role="button">Logout</a>
</div>

<%- include('partials/footer') %>